@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');


/* import the Mention dependency styles */

/* @import "../../node_modules/@syncfusion/ej2-base/styles/bootstrap5.css"; */
/* @import "../../node_modules/@syncfusion/ej2-react-buttons/styles/bootstrap5.css";
@import "../../node_modules/@syncfusion/ej2-react-popups/styles/bootstrap5.css";
@import "../../node_modules/@syncfusion/ej2-react-list/styles/bootstrap5.css"; */
/* @import "../../node_modules/@syncfusion/ej2-react-dropdowns/styles/bootstrap5.css"; */
*{
  font-family: "Noto Sans KR","roboto","Helvetica","Arial","sans-serif";
}
:root{
  --mention-default:#000;
  --mention-selected: #222428;
  --mention-hover: #111;
}
html,body, #__next{
  height:100%;
  margin:0;
  --line:1
}

.hide-scrollbar {
  
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.single-line {
  display: -webkit-box;
  -webkit-line-clamp:  var(--line);
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
@media (prefers-color-scheme: dark) {
  :root {
  color-scheme: dark;
    --mui-palette-primary-main: #90caf9;
  }
}

/* mention */
.e-list-item {
  width:100%;
  background-color: var(--mention-default);
  backdrop-filter: blur(5px);
}
.e-hover {
  background-color: var(--mention-hover);
}

.e-active {
  background-color: var(--mention-selected);
}
